services:
  db:
    image: pgvector/pgvector:pg16
    container_name: studyo_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=studyo_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: